@font-face {
    font-family: 'Millunium_medium';
    font-style: normal;
    src: url('../fonts/Millunium_Medium/Millunium-Medium.eot');
    src: url('../fonts/Millunium_Medium/Millunium-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Millunium_Medium/Millunium-Medium.woff') format('woff'),
         url('../fonts/Millunium_Medium/Millunium-Medium.woff2') format('woff2'),
         url('../fonts/Millunium_Medium/Millunium-Medium.ttf') format('truetype'),
         url('../fonts/Millunium_Medium/Millunium-Medium.svg#johnnybros_font') format('svg');
}
@font-face {
    font-family: 'Millunium_Bold';
    font-style: normal;
    src: url('../fonts/Millunium_Bold/Millunium-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-ThinItalic.ttf') format('truetype')
} 
@font-face {
    font-family: 'Raleway';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Thin.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 200;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-ExtraLightItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-LightItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-Italic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-MediumItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-SemiBoldItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-BoldItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-ExtraBoldItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/Raleway/Raleway-BlackItalic.ttf') format('truetype')
}
@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Raleway/Raleway-Black.ttf') format('truetype')
}