@font-face {
    font-family: 'johnnybros_font';
    src: url('../fonts/johnnybros_font/johnnybros_font.eot');
    src: url('../fonts/johnnybros_font/johnnybros_font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/johnnybros_font/johnnybros_font.woff') format('woff'),
         url('../fonts/johnnybros_font/johnnybros_font.ttf') format('truetype'),
         url('../fonts/johnnybros_font/johnnybros_font.svg#johnnybros_font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'johnnybros_font';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-pp-reward-1:before{content:'\0041';}
.icon-pp-reward-2:before{content:'\0042';}
.icon-pp-reward-3:before{content:'\0043';}
.icon-pp-reward-4:before{content:'\0044';}
.icon-pp-reward-5:before{content:'\0045';}
.icon-down:before{content:'\0046';}